@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
  display: block;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: Outfit;
}

.underscore-line {
  width: 50px;
  /* Adjust width as needed */
  height: 1px;
  /* Line thickness */
  background-color: #4a4a4a;
  /* Line color */
  margin-top: 5px;
  /* Space between text and line */
  display: inline-block;
}

@media (max-width: 60px) {
  a.active {
    background-color: black;
    color: wheat;
  }
}
